ion-card {
  height: 100%;
  cursor: pointer;

  .cardImg {
    width: 100%;
  }

  ion-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 4px;
    right: 4px;
    color: #dd2121;
  }
}
