<app-header></app-header>

<ion-content>
  <ng-container *ngIf="favoritesList.length != 0; else emptyList">
    <ion-grid>
      <ion-row>
        <ion-col
          class="ion-margin-vertical"
          size="12"
          sizeSm="6"
          sizeMd="4"
          *ngFor="let character of favoritesList"
        >
          <app-card
            [character]="character"
            [favoritesList]="favoritesList"
          ></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #emptyList>
    <p class="ion-text-center">There is no favorite character</p>
  </ng-template>
</ion-content>
