<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="3">
        <div class="filters ion-text-center">
          <h1>Filters</h1>
          <span class="cleanFilters" (click)="cleanFilters()">
            Clear filters
          </span>
          <ion-accordion-group [multiple]="true">
            <app-accordion
              [value]="'status'"
              (valueChanged)="setFilter($event)"
            ></app-accordion>
            <app-accordion
              [value]="'species'"
              (valueChanged)="setFilter($event)"
            ></app-accordion>
            <app-accordion
              [value]="'gender'"
              (valueChanged)="setFilter($event)"
            ></app-accordion>
          </ion-accordion-group>
        </div>
      </ion-col>
      <ion-col size="12" sizeMd="9">
        <ion-searchbar
          #searchBar
          placeholder="Search character"
          (ionChange)="searchCharacter($event)"
        ></ion-searchbar>

        <ion-row>
          <ng-container *ngIf="reqStatus == 'success'; else error">
            <ion-col
              class="ion-margin-vertical"
              size="12"
              sizeSm="6"
              sizeMd="4"
              *ngFor="let character of currentCharacters; let i = index"
            >
              <app-card
                [character]="character"
                [favoritesList]="favoritesList"
              ></app-card>
            </ion-col>
          </ng-container>
          <ng-template #error>
            <p class="ion-text-center">{{ errorMessage }}</p>
          </ng-template>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll *ngIf="hasNextValue" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
